<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galileo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="fa fa-lightbulb-o"></span>
            <span class="navbar-title">Galileo</span>
          </a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="" ><%= current_user.email %></a></li>
          <li><a href="" data-toggle="tooltip" data-placement="bottom" title="Your settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li>
            <%= link_to(raw('<span class="glyphicon glyphicon-log-out"></span>'), destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li><%= link_to(raw('Login'), new_user_session_path) %></li>
          <li><%= link_to(raw('Sign up'), new_user_registration_path) %></li>
        <% end %>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
